body {
    background-color: #d5e1ef;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    text-align: center;

    .attribution {
        font-size: .6875rem;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    .main {
        max-width: 20rem;
        padding: 16px;
        background-color: white;
        border-radius: 12px;

        img {
            display: block;
            max-width: 100%;
            height: auto;
            border-radius: 12px;
        }

        h1 {
            font-size: 1.0625rem;
            font-weight: 700;
            color: #252d41;
        }

        p {
            font-size: .8125rem;
            color: #77797d;
        }
    }
}